# Author: Rene Kabanda

# Terminal
alias e='exit'
alias t='tmux'
alias c='clear'

# Network monitoring
alias signal='nmcli device wifi list'

# Tools
alias h='htop'
alias g='glances'
alias wtr='curl wttr.in'
alias st='curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python3 -'
alias n='watch -n 1 nvidia-smi'

# APT package manager   
alias update='sudo apt update'
alias i='sudo apt install'
alias upgrade='sudo apt upgrade -y'
alias list='sudo apt list --upgradable'
alias ar='sudo apt autoremove'
alias clean='sudo apt autoclean'

# Docker
alias d='docker'
alias dp='docker ps'
alias dpa='docker ps -a'
alias di='docker images'
alias dl='docker logs'
alias dlf='docker logs --follow'
alias dcu='docker compose up -d'
alias dcd='docker compose down'
alias drmi='docker rmi'
alias stop='docker stop'
alias restart='docker restart'
alias all='docker stop $(docker ps -a -q)'
alias start='docker start'
alias drm='docker rm'
alias dvl='docker volume ls'
alias dnl='docker network ls'
alias dnr='docker network remove'
alias dvr='docker volume remove'
alias dsp='docker system prune'

# Kubernetes
alias k='kubectl'

# Terraform
alias tf='terraform'

# EKS
alias eks='eksctl'
alias ecc='eksctl create cluster'

# Virt Manager
alias virt='sudo virt-manager'
